@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-nav-primary: #000000;
  --color-nav-hover: #b5b5b5;
}
/* .hero-l-small {
  clip-path: none;
  right: 0;
}
.hero-l-medium {
  clip-path: none;
  right: 0;
}
.hero-l-large {
  clip-path: none;
  right: 0;
}
.hero-cover {
  right: 0;
} */

/* X-Small */
@media (min-width: 420px) {
}
/* Small */
@media (min-width: 640px) {
  .hero-l-small {
    grid-column: span 3 / span 3;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
  }
  .hero-l-medium {
    grid-column: span 4 / span 4;
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
  }
  .hero-l-large {
    grid-column: span 7 / span 7;
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
  }
  .hero-cover {
    grid-column: span 7 / span 7;
    right: 0;
  }
  .school {
    grid-column: span 7 / span 7;
    clip-path: polygon(0 0, 100% 0, 65% 100%, 0% 100%);
    margin-bottom: 20px;
  }
  .shaped-value-document {
    clip-path: polygon(0 0, 95% 0, 60% 100%, 0% 100%);
  }
  .shaped-value-document-overlay {
    clip-path: polygon(100% 22%, 100% 22%, 100% 100%, 75% 100%);
  }
}

.headline-clippath {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

/* Medium */
@media (min-width: 768px) {
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  io :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
